<a href="https://colab.research.google.com/github/padolekrushna/SQL_Music_Store_Analysis/blob/main/JOINS_IN__SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### TABLE1  Orders:(OrderID,CustomerID,	EmployeeID	,OrderDate	,ShipperID)
### TABLE2  OrderDetails :(OrderDetailID,	OrderID	,ProductID,	Quantity)
### TABLE3  Employees : (EmployeeID	,LastName	,FirstName,	BirthDate,	Photo	,Notes)
### TABLE4  Customers : (CustomerID	,CustomerName	,ContactName,	Address,	City	PostalCode	,Country)

###   **INNER JOIN** keyword returns only rows with a match in both tables. Which means that if you have a product with no CategoryID, or with a CategoryID that is not present in the Categories table, that record would not be returned in the result.**

In [ ]:
SELECT OrderDetailID,Quantity,ShipperID
FROM Orders
INNER JOIN OrderDetails ON Orders.OrderID = OrderDetails.OrderID;

### The  **LEFT JOIN**  keyword returns all records from the left table (table1), and the matching records from the right table (table2). The result is 0 records from the right side, if there is no match.

In [ ]:
SELECT OrderDetails.OrderDetailID, Orders.OrderID
FROM Orders
LEFT JOIN OrderDetails ON OrderDetails.OrderID = Orders.OrderID
ORDER BY OrderDetail.OrderDetailID;

### The **RIGHT JOIN** keyword returns all records from the right table (table2), and the matching records from the left table (table1). The result is 0 records from the left side, if there is no match.

In [ ]:
SELECT Orders.OrderID, Employees.LastName, Employees.FirstName
FROM Orders
RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
ORDER BY Orders.OrderID;

### The **FULL OUTER JOIN** keyword returns all records when there is a match in left (table1) or right (table2) table records.

Tip: FULL OUTER JOIN and FULL JOIN are the same.

In [ ]:
SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
FULL OUTER JOIN Orders ON Customers.CustomerID=Orders.CustomerID
ORDER BY Customers.CustomerName;

### A **self join** is a regular join, but the table is joined with itself.

In [ ]:
SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City
FROM Customers A, Customers B
WHERE A.CustomerID <> B.CustomerID
AND A.City = B.City
ORDER BY A.City;